@import url('http://fonts.cdnfonts.com/css/open-sans');
body { margin: 0; padding: 0; background-color: white; max-width: 100%; overflow-x: hidden;}


#nav-var-container {
    position: relative;
    height: 60px;
    margin: 0;
}

#log-in-nav-bar-container {
    position: relative;
    height: 130px;
    margin: 0;
    display: flex;
    flex-direction: column;
    grid-area: header;
}

#navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px 20px;
}


.meowp-logo {
    max-height: 65px;
    width: auto;
    margin-left: 5px;
}

#profile-button {
    max-height: 40px;
    width:auto;
}

#material-icon-arrow-dropdown {
    cursor: pointer;
}

.meowp-business-logo {
    width: 110px;
    height:43px;
}

#login-signup-container {

    display: flex;
    flex-direction: row;
}

.login-btn {
    margin-right: 10px;
}

#create-business-btn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-weight: 600;
    color: rgba(43,39,60,1);
    margin-right: 10px;
    transition-duration: .3s;
}


#create-business-btn:hover {
    background-color: #eeeeef;
    padding: 8px;
    border-radius: 5px;
}

#profile-icon-create-business {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.profile-btn-drowdown{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.category-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#profile-drop-down {
    border-radius: 10px;
    box-shadow: RGB(0 0 0/10%) 0px 1px 20px 0px;
    width: 200px;
    height: 150px;
    padding: 20px;
    position: absolute;
    z-index: 11;
    background-color: white;
    right: 2%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#material-icon-profile {
    color: #5f6368;
    font-size: 30px;
    margin-right: 5px;
}

#profile-dropdown-content {
    display: flex;
    flex-direction: row;
}

.logout-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 5px;
}

.user-info-content {
    font-weight: 600;
    color: rgba(43,39,60,1);
}
