@import url('http://fonts.cdnfonts.com/css/open-sans');
body { margin: 0; padding: 0; background-color: white; max-width: 100%; overflow-x: hidden;}


#nav-var-container {
    position: relative;
    height: 60px;
    margin: 0;
}

#log-in-nav-bar-container {
    position: relative;
    height: 130px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px 20px;
}


.meowp-logo {
    max-height: 65px;
    width: auto;
    margin-left: 5px;
}

#profile-button {
    max-height: 40px;
    width:auto;
}

#application-brand {
    font-family: 'SC Gum Kids', sans-serif;
    color: #dc3545;
    font-size: 30px;
}

#login-signup-container {

    display: flex;
    flex-direction: row;
}

.login-btn {
    margin-right: 10px;
}

#create-business-btn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-weight: 600;
    color:rgba(43,39,60,1);
    margin-right: 10px;
}

#profile-icon-create-business {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.profile-btn-drowdown{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.category-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
