.review-card-container {
    margin: 10px;
    border-radius: 3px;
    border: 1px solid #eeeeef;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.user-profile-img {
    width: 75px;
    height: 75px;
    border-radius: 180px;
}

#user-profile-inital{
    width: 64px;
    height: 64px;
    border-radius: 180px;
    background-color: #f5f5f5;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
}

#user-name-display {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-info-container {
    display: flex;
    margin-top: 15px;
    margin-left: 10px;
}

.user-info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;

}

.user-info-name {
    font-size: 26px;
    color: #2B273C;
    font-weight: 700;
}

.review-rating, .review-content {
    margin-left: 10px;
}
